@using Final.Ioc;
@using System.Linq;
@using Final.Entities;
<form style="" action="~/Pages/Books/GroupByAuthor.cshtml" method="post" enctype="multipart/form-data">
    <table class="text" style="background:none">
        <tr>
            <td style="border:none">
                <h1 style="padding-left:20px">
                    Authors
                </h1>
            </td>
            <td style="border:none" class="rightcol">
                <button class="btn btn-primary" type="button" data-toggle="collapse"
                        data-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample" style="margin-left: 35px">
                    Expand
                </button>
            </td>
        </tr>
    </table>
</form>
<style>
    td {
        width: 350px;
    }
</style>
@{
    Page.Title = "Group By Author";
    Layout = "~/Layouts/_MainLayout.cshtml";
    var books = DependencyResolver.BookLogic.GetAll().Distinct();
    <ul class="list-group list-group-flush">
        @{
            if (!books.Any())
            {
                <li class="list-group-item">
                    Users is empty.
                </li>
            }
            foreach (var book in books)
            {
                <li class="list-group-item">
                    <b>Author: @book.Author</b>
                    @{
                        var bks = DependencyResolver.BookLogic.GetBooksByAuthor(book.Author);
                        <ul class="list-group list-group-flush">
                            @foreach (var b in bks)
                            {
                                <div class="collapse" id="collapseExample">
                                    <table>
                                        <div class="card card-body">
                                            ID: @b.Id.ToString()
                                            <tr>
                                                <td rowspan="6" class="first">
                                                    <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(book.BookImage))">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Title:</td>
                                                <td>@b.Title.ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Genre:</td>
                                                <td>@b.Genre.ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Release date:</td>
                                                <td>@b.ReleaseDate.ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Price:</td>
                                                <td>@b.Price.ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Quantity:</td>
                                                <td>@b.Count.ToString()</td>
                                            </tr>
                                        </div>
                                    </table>
                                </div>
                            }
                        </ul>
                    }
                </li>
            }
        }
    </ul>
}
<link href="~/Styles/BookStyles.css" rel="stylesheet" />


