@using Final.Ioc;
@using System.Linq;
@using Final.Logger;
<table class="text" style="background:none">
    <tr>
        <td style="border:none">
            <h1 style="padding-left:20px">
                Genres
            </h1>
        </td>
        <td style="border:none" class="rightcol">
            <button class="btn btn-info" type="button" data-toggle="collapse"
                    data-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample" style="margin-left: 35px">
                Expand
            </button>
        </td>
    </tr>
</table>
@{
    Page.Title = "Group By Genres";
    Layout = "~/Layouts/_MainLayout.cshtml";
    var logger = Logger.Log;
    var filteredBooks = DependencyResolver.BookLogic.GetAll()
  .GroupBy(book => book.Genre)
  .Select(group => group.First());
    <form action="~/Pages/Books/GroupByGenres.cshtml" method="post" enctype="multipart/form-data">
        <ul class="list-group list-group-flush">
            @{
                if (!filteredBooks.Any())
                {
                    <li class="list-group-item">
                        @{
                            logger.Info("List of books is empty.");
                        }
                        List of books is empty.
                    </li>
                }
                foreach (var book in filteredBooks)
                {
                    <li class="list-group-item">
                        <b>Genre: @book.Genre</b>
                        @{
                            var sortBooks = DependencyResolver.BookLogic.GetBooksByGenre(book.Genre);
                            <ul class="list-group list-group-flush">
                                @foreach (var sortBook in sortBooks)
                                {
                                    <div class="collapse" id="collapseExample">
                                        <table>
                                            <div class="card card-body">
                                                ID: @sortBook.Id.ToString()
                                                <tr>
                                                    <td rowspan="6" class="first">
                                                        <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(book.BookImage))">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Author:</td>
                                                    <td>@sortBook.Author.ToString()</td>
                                                    <td style="border:none;background:none">
                                                        @if (book.Count > 0)
                                                        {
                                                            <b style="font-size:large">
                                                                @if (User.IsInRole("Admin") || User.IsInRole("User"))
                                                                {
                                                                    <button id="btn_buy" class="btn btn-success" style="position:center"
                                                                            onclick="location.href='#bottom'">
                                                                        Buy
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <a href="~/Pages/Auth/Login.cshtml" style="color:black">
                                                                        Buy
                                                                    </a>
                                                                }
                                                            </b>
                                                        }
                                                        else
                                                        {
                                                            <b style="font-size:large">
                                                                Out of product
                                                            </b>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Title:</td>
                                                    <td>@sortBook.Title.ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td>Release date:</td>
                                                    <td>@sortBook.ReleaseDate.ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td>Price:</td>
                                                    <td>@sortBook.Price.ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td>Quantity:</td>
                                                    <td>@sortBook.Count.ToString()</td>
                                                </tr>
                                            </div>
                                        </table>
                                    </div>
                                }
                            </ul>
                        }
                    </li>
                }
            }
        </ul>
    </form>
}
<br />
<br />
@if (IsPost)
{
    @RenderPage("~/Pages/Purchases/CreatePurchase.cshtml")
}
<p><a name="bottom"></a></p>
<script>
    $('#btn_buy').click(function () {
        location.href = "bottom";
    });
</script>
<style>
    td {
        width: 350px;
    }
</style>
<link href="~/Styles/BooksStyles.css" rel="stylesheet" />