@using Final.Ioc;
@using Final.Logger;
@{
    Page.Title = "All books";
    Layout = "~/Layouts/_MainLayout.cshtml";
    var logger = Logger.Log;
}
<h1 style="padding-left:20px">Books</h1>
<form method="post" enctype="multipart/form-data">
    <table>
        @{
            var books = DependencyResolver.BookLogic.GetAll();
            if (!books.Any())
            {
                logger.Info("List of books is empty.");
                <tr>
                    <td><h2 style="padding-left:20px">There is no books!</h2></td>
                </tr>
            }
            foreach (var book in books)
            {
                <tr>
                    <td rowspan="7" class="first">
                        <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(book.BookImage))">
                    </td>
                    <td>Id:</td>
                    <td>@book.Id.ToString()</td>
                    <td style="border:none;background:none">
                        @if (book.Count > 0)
                        {
                            <b style="font-size:large">
                                @if (User.IsInRole("Admin") || User.IsInRole("User"))
                                {
                                    <button id="btn_buy" class="btn btn-success" style="position:center" onclick="location.href='#bottom'">Buy</button>
                                }
                                else
                                {
                                    <a href="~/Pages/Auth/Login.cshtml" style="color:black">
                                        Buy
                                    </a>
                                }
                            </b>
                        }
                        else
                        {
                            <b style="font-size:large">
                                Out of product
                            </b>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Author:</td>
                    <td>@book.Author.ToString()</td>
                </tr>
                <tr>
                    <td>Title:</td>
                    <td>@book.Title.ToString()</td>
                </tr>
                <tr>
                    <td>Genre:</td>
                    <td>@book.Genre.ToString()</td>
                </tr>
                <tr>
                    <td>Release date:</td>
                    <td>@book.ReleaseDate.ToString()</td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>@book.Price.ToString()</td>
                </tr>
                <tr>
                    <td>Quantity:</td>
                    <td>@book.Count.ToString()</td>
                </tr>
                <tr><td></td></tr>
            }
        }
    </table>
</form>
<br />
<br />
@if (IsPost)
{
    @RenderPage("~/Pages/Purchases/CreatePurchase.cshtml")
}
<script>
    $('#btn_buy').click(function () {
        location.href = "bottom";
    });
</script>
<p><a name="bottom"></a></p>
<link href="~/Styles/BooksStyles.css" rel="stylesheet" />